/homework_2_flask/__pycache__/
/homework_2_flask/venv/
/homework_2_flask/test.py
.idea/

/homework_3_flask/__pycache__/
/homework_3_flask/venv/
/homework_3_flask/test.py

/homework_4_sql/test.py
/homework_4_sql/example.db
/homework_4_sql/venv/
/homework_4_sql/__pycache__/

/homework_6,7_sql/example.db
/homework_6,7_sql/.idea
/homework_6,7_sql/__pycache__
/homework_6,7_sql/test.py
/homework_6,7_sql/venv/


/homework_8_sql/.idea
/homework_8_sql/venv
/homework_8_sql/test.py
/homework_8_sql/example.db
/homework_8_sql/__pycache__
